
.button-ver-vagas2 {
    background-color: #1976d2;
    color: white;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 4px;
    text-transform: none;
}

.button-ver-vagas2:hover {
    background-color: #1565c0;
}
